<h1>Fill in a word to find if its an anagram, palindrome, or not: </h1>
<form action='/result'>
  <div class="form-group">
    <label for="input">enter a word:</label>
    <input id="input" name="input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
